@charset "UTF-8";

/*Todas as demais mídias*/


/* Typical Device Breakpoints
-----------------------------
  Mobile devices – 320px — 480px.
  iPads, Tablets – 481px — 768px.
  Small screens, laptops – 769px — 1024px.
  Desktops, large screens – 1025px — 1200px.
  Extra large screens, TV – 1201px, and more.
-----------------------------
*/

@media print { /*Impressão*/
    *{
        font-family: 'Courier New', Courier, monospace;

    }

   body{
    background-image: url(../imagens/back-print.jpg); /*desnecessário*/

   }

   main{
    width: 90vw;
    border: 2px solid black;
   }

   main::after {
    content: 'Essa impressão foi feita através do site www.cursoemvideo.com';
    text-decoration: overline;
   }

   main h1 {
    text-shadow: none;
    color: black;
   }

   img#phone {display: none;}
   img#tablet {display: none;}
   img#print {display: block;}
   img#pc {display: none;}
   img#TV {display: none;}

}


@media screen and (min-width: 481px) and (max-width: 768px) { /*TABLET*/
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }
  
    img#phone {display: none;}
    img#tablet {display: block;}
    img#print {display: none;}
    img#pc {display: none;}
    img#TV {display: none;}

}

@media screen and (min-width: 1025px) and (max-width: 1200px) { /*DESKTOP*/
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    
    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: block;}
    img#TV {display: none;}

}

@media screen and (min-widt: 1200px) { /*GRANDES TELAS*/
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    main {
        width: 700px;
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: none;}
    img#TV {display: block;}


}